######
# NeoRE COMPONENT CONFIGURATION SCRIPT:
#
# All configuration variables must be defined as bash/shell variables
# This is expected to redefine (some) variables of the project config,
# as well as its own variables
#
####

## Component specific settings
# Name of the project used in traces
COMPONENT_NAME="web-admin-sd"

# Unit tests command
UNITTESTS_CMD="python2.7 sd_web/manage.py test --settings=settings.jenkins"
